@model Expressly.SDK.Sample.MVC.Models.CustomerAlreadyExistsViewModel

@{
    ViewBag.Title = "Customer Already Exists";
}

<div class="alert alert-danger" role="alert" style="margin-top: 20px;">
    <div class="row text-center">
        <div class="col-xs-12 col-md-12 text-center">
            <strong> @Model.Message </strong>
        </div>

        <div class="col text-center" style="margin-top: 20px;">
            @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>